:root {
  font-size: 15px;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bg {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  color: #CCC;
  box-sizing: border-box;
  text-align: center;
}

section {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

h1 {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 2em;
  border: solid 1px #CCC;
}

h3 {
  margin-bottom: 2em;
}

h1 img {
  max-width: 240px;
}

footer {
  padding-bottom: 2em;
}

p {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

p a img {
  height: 32px;
  width: auto;
  border-radius: 0;
  border: 0;
}

.switch-off {
  transition: opacity 1.5s;
  opacity: 0.15;
}

.landscape {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 0;
  padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  border-radius: 2em;
  overflow: hidden;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.landscape iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
